* {
  margin: 0;
  padding: 0; }

body {
  background-color: #9FB0BF; }

/* Lista */
.grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.div1 {
  grid-area: 1 / 1 / 3 / 6;
  height: 120px; }

.div2 {
  grid-area: 3 / 1 / 7 / 6;
  height: 1030px;
  padding-top: -50px; }

.div3 {
  grid-area: 7 / 1 / 8 / 6; }

.header {
  position: fixed;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #9FB0BF;
  height: 272px;
  width: 100%;
  border: solid 2px;
  border-color: white;
  z-index: 1; }

.logoTel {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%; }

.headerImg {
  width: 300px;
  height: 140px; }

.tlfno1 {
  display: flex;
  align-items: center;
  width: 200px; }

.headerContacto {
  background: radial-gradient(circle, white 0%, #9fb0bf 100%);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #3C3C3C;
  cursor: default; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

nav {
  margin-top: 10px;
  width: 88%; }

.opciones {
  color: #f3eded;
  margin-left: 4px;
  margin-right: 4px; }

.nav-link {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 19px !important;
  color: #3C3C3C !important;
  width: 149px !important;
  height: 60px !important;
  justify-content: center !important; }
  .nav-link:hover {
    color: #f3eded !important; }

ul {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 200px;
  font-style: normal;
  text-align: center;
  list-style: none; }
  ul ul {
    position: absolute;
    display: none; }

li {
  display: inline-block;
  position: relative;
  font-size: 19px;
  margin-bottom: 20px; }

ul ul li {
  display: block;
  border: 1px solid #3C3C3C; }

a:hover {
  background-color: #3C3C3C; }

ul li:hover ul {
  background-color: #3C3C3C;
  display: block; }

.main {
  background-color: #9FB0BF;
  margin-top: -190px; }

.mainImg {
  width: 400px;
  height: 380px; }

.mainText {
  width: 580px;
  height: 580px;
  margin-top: -100px; }

h3 {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 200px;
  color: #3C3C3C;
  cursor: default; }

.containerCards {
  margin-top: 50px; }

.mainTablaDestacados {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 40px;
  font-weight: 200px;
  color: #3C3C3C; }

.span {
  background-color: #E0C045; }

.footer {
  display: flex;
  justify-content: center;
  background-color: #9FB0BF;
  width: 100%; }
  .footer a i {
    color: #3C3C3C;
    margin: 6px; }

footer a i:hover {
  color: #f3eded; }

@media screen and (max-width: 1100px) {
  .header {
    width: 100%;
    height: 200px; }
  .logoTel {
    display: flex;
    justify-content: space-around; }
  .headerImg {
    width: 150px;
    height: 70px; }
  .headerContacto {
    font-size: 10px;
    width: 100px; }
  nav {
    width: 30%; }
  .opciones {
    font-size: 11px; }
  .nav-link {
    width: 100px !important;
    height: 50px !important;
    font-size: 11px !important;
    background-color: #9FB0BF !important; }
  .mainImg {
    width: 400px;
    height: 380px;
    margin-top: -240px;
    margin-left: 30px; }
  .mainText {
    width: 400px;
    height: 400px;
    margin-top: 0px;
    margin-right: 40px; }
  .containerI {
    display: flex;
    flex-direction: column; }
  .containerR {
    display: flex;
    flex-direction: column; }
  .mainTablaDestacados {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .card {
    margin-top: 30px; }
  .footer {
    margin-top: 320px; } }

.divP {
  height: 1000px;
  padding-top: 290px; }

.mainTituloProductos {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 200px;
  color: #3C3C3C;
  cursor: default; }

.mainTablaProductos {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: 200px;
  color: #3C3C3C; }

.nombreProducto {
  cursor: default; }

main ul div {
  margin: 20px; }

.mainTablaImg {
  width: 350px;
  height: 350px; }

.footerP {
  display: flex;
  justify-content: center;
  margin-top: -150px;
  background-color: #9FB0BF;
  width: 100%;
  height: 100px; }

@media screen and (max-width: 1100px) {
  .divP {
    padding-top: 200px; }
  .nombreProducto {
    margin-left: 100px; }
  .footerP {
    margin-top: 750px; } }

.grid3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.div1 {
  grid-area: 1 / 1 / 3 / 6;
  height: 70px; }

.div8 {
  grid-area: 3 / 1 / 7 / 6;
  height: 650px; }

.div9 {
  grid-area: 7 / 1 / 8 / 6;
  height: 30px; }

.mainTiendas {
  background-color: #9FB0BF; }

.mainTituloTiendas {
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 200px;
  color: #3C3C3C;
  cursor: default; }

.tablaTiendas {
  table-layout: fixed;
  width: 80%;
  height: 180px;
  border-collapse: collapse;
  font-family: Helvetica, Arial, sans-serif;
  color: #3C3C3C;
  margin-left: 130px;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 200px;
  background-color: white;
  cursor: default; }

thead {
  background-color: #E0C045;
  cursor: default; }

th, td {
  border: solid;
  border-color: #3C3C3C; }

tr:nth-child(even) {
  background-color: #9FB0BF; }

tr:hover td {
  background-color: #9FB0BF;
  color: white; }

@media screen and (max-width: 1100px) {
  .tablaTiendas {
    font-size: 25px;
    width: 100%;
    height: 300;
    margin-left: 0px;
    margin-right: 30px; } }

.grid5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.div1 {
  grid-area: 1 / 1 / 3 / 6;
  height: 70px; }

.div14 {
  grid-area: 3 / 1 / 7 / 6;
  height: 480px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row; }

.div15 {
  height: 200px;
  margin-top: 110px; }

h4 {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 200px;
  color: #3C3C3C;
  cursor: default; }

.carousel {
  width: 400px;
  height: 400px;
  border: solid 1px; }

.cajaOpiniones {
  width: 400px;
  height: 400px;
  border: solid 1px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  animation: opiniones 25s infinite; }

@keyframes opiniones {
  0% {
    background-image: url(../../Imagenes/nike_logo.jpg); }
  25% {
    background-image: url(../../Imagenes/logoraybann.jpg); }
  50% {
    background-image: url(../../Imagenes/mcdonalds.jpg); }
  75% {
    background-image: url(../../Imagenes/antartica.jpg); }
  100% {
    background-image: url(../../Imagenes/bakery.jpg); } }

.div15 {
  grid-area: 7 / 1 / 8 / 6;
  height: 40px; }

@media screen and (max-width: 1100px) {
  .div14 {
    flex-direction: column;
    height: 700px; } }

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.div1 {
  grid-area: 1 / 1 / 3 / 6;
  height: 70px; }

.div11 {
  grid-area: 3 / 1 / 7 / 6;
  height: 530px;
  margin-top: 150px; }

.div12 {
  grid-area: 7 / 1 / 8 / 6;
  height: 40px; }

.div11 .form-control {
  width: 45% !important;
  height: 5% !important; }

.div12 .footer {
  margin-top: -200px; }

@media screen and (max-width: 1100px) {
  .formularioContacto {
    margin-top: 300px; }
  .div11 {
    margin-top: 90px; } }
