.divP{
    height: 1000px;
    padding-top: 190px;
}

.mainTituloProductos{
    font-family: map-get($estilos, font-family);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 200px;
    color: map-get($estilos, color);
    cursor: default;
}

.mainTablaProductos{
    font-family: map-get($estilos, font-family);
    @include flex-center;
    font-size: 40px;
    font-weight: 200px;
    color: map-get($estilos, color);
}

.nombreProducto{
    cursor: default;
}

main ul div{
    margin: 20px;
}

.mainTablaImg{
    width: 350px; height: 350px;
}

.pieDePagina{
    margin-top: -220px;
}

@media screen and (max-width: 1100px) {
    .divP{
        padding-top: 200px;
    }

    .mainTituloProductos{
        font-size: 30px;
    }
    
    .nombreProducto{
        margin-left: 100px;
    }

    .pieDePagina{
        padding-top: 380px;
    }
}