
$estilos: (
    color: #3c3c3c,
    font-family: Helvetica, 
);

@mixin flex-center{
    display:flex;
    align-content:center;
    text-align:center;
    align-items:center;
    justify-content:center;
};